@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form method="post" asp-area="" asp-controller="Account" asp-action="Logout" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-area="Identity" asp-controller="Account" asp-action="Manage" title="Manage">Hello @User.Identity.Name!</a>
            </li>
   <li>
  <a asp-area="Identity" asp-controller="Account" asp-action="Logout" class="btn btn-link navbar-btn navbar-link">Log out</a>
</li>

        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="" asp-controller="Account" asp-action="Login">Log in</a></li>
        <li><a asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>
    </ul>
}
